
@{
    ViewData["Title"] = "Home";
}

 <!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Plumbing & Repairing Services</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Efficient Residential Plumbing Services</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"> Login </a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"> SignUp </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Plumbing & Repairing Services</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Efficient Commercial Plumbing Services</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"> Login </a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"> SignUp </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Service Start -->
@* @using Snai3i_BLL.DTO.CraftDto
@model IEnumerable<CraftReadDTO> *@

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            
            @if (Model != null )
            {
                var count = 0;
                foreach (var craft in Model.Crafts)
                {
                    count++;

                    <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="https://localhost:7000/Uploads/@craft.PictureUrl" alt="">

                        </div>
                        <div class="d-flex align-items-center justify-content-between bg-light p-4">
                            <h5 class="text-truncate me-3 mb-0">@craft.CraftName</h5>
                            <a href ="@Url.Action("GetWorkerByCraft", "Worker", new { id = craft.Id })" class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    @if (count == 4)
                    {
                        break;
                    }
                }
            }
    </div>  
  </div>
  </div>
<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
        <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">15 Years Experience</h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="ms-lg-5 ps-lg-5">
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our Services</h1>
                </div>
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                   

                             
                    <div class="bg-light p-4">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                            <i class="fa fa-water fa-2x text-primary"></i>
                        </div>
                        <h4 class="mb-3">Drain Repair</h4>
                        <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Quality Service</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Customer Satisfaction</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Support 24/7</p>
                        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                    </div>
                
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Tools-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Technicians</h6>
            <h1 class="mb-5">Tools For You</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                var count = 0;
                foreach (var Tool in Model.Tools)
                {
                    count++;
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="https://localhost:7000/Uploads/@Tool.Image" class="card-img-top" alt="@Tool.Name" style="max-height:200px; object-fit:cover;" />

                        <div class="card-body">
                            <h5 class="card-title">@Tool.Name</h5>
                            <p class="card-text">@Tool.Description</p>
                        </div>
                    </div>
                </div>
                    @if (count == 4)
                    {
                        break;
                    }
            }
            }
        </div>
    </div>
</div>
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Technicians</h6>
            <h1 class="mb-5">Our Expert Technicians</h1>
        </div>
       @*  <div class="row g-4">
              @if (Model != null && Model.Any())
            {
                var count = 0;
                foreach (var Workers in Model.Workers)
                {
                    count++;
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="https://localhost:7000/Uploads/@Workers.Image" alt="">
                    </div>
                    <div class="team-text">
                        <div class="bg-light">
                                    <h5 class="fw-bold mb-0">@Workers.LastName</h5>
                        </div>
                  
                    </div>
                </div>
            </div>
                    @if (count == 4)
                    {
                        break;
                    }
                }
            }
        </div>
    </div>
</div> *@
<!-- Team End -->
<!-- Booking Start -->
<div class="container-fluid my-5 px-0">
    <div class="video wow fadeInUp" data-wow-delay="0.1s">
        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
            <span></span>
        </button>

        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                    allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-white mb-4">Emergency Plumbing Service</h1>
        <h3 class="text-white mb-0">24 Hours 7 Days a Week</h3>
    </div>
    <div class="container position-relative wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -6rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="bg-light text-center p-5">
                    <h1 class="mb-4">Book For A Service</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;">
                                    <option selected>Select A Service</option>
                                    <option value="1">Service 1</option>
                                    <option value="2">Service 2</option>
                                    <option value="3">Service 3</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control border-0 datetimepicker-input"
                                           placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Special Request"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->